<!--
1. Неотформатирован HTML, непонятные пустые строки зачем-то. Вообще, нужен линтер.
2. Не соблюдается порядок аттрибутов в элементе/компоненте
   https://v3.ru.vuejs.org/ru/style-guide/#%D0%BF%D0%BE%D1%80%D1%8F%D0%B4%D0%BE%D0%BA-%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%BE%D0%B2-%D0%B2-%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B5-%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D1%82%D1%81%D1%8F
3. Вообще, нужно обстоятельно ознакомиться с рекомендациями по стайл-гайду https://v3.ru.vuejs.org/ru/style-guide/
4. Лучше не использовать v-bind явно (v-bind:class="class"), можно просто :class="class"
-->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/ship_sea_boat_pirate_sail_ocean_old_adventure_wooden_flag_icon_131598.svg">


    <title>Battleship</title>
</head>

<body>
<div id='gameBS'>
    <div class="wrapper">
        <template>
            <div class="gamer">
                <div class='name cursor-pointer' title='Сменить имя'
                     @click="modalOpenClose('Введите ваше имя', null, true)">{{nameUser}}</div>
                <div id='polygonUser' class="polygonUser" v-bind:class="{'tablet-step': blocked}">
                </div>
            </div>

            <div class="gamer">
                <div class='name cursor-pointer' title='Перезапустить игру &#128472;' @click='restart'>{{nameComp}}</div>
                <div id='polygonComputer' class="polygonComputer" @click='fireUser'
                     v-bind:class="{'tablet-step': !blocked}"></div>
            </div>



            <div class="modal-overlay" v-bind:class="classActiveModalOverlay">
                <div class="modal-window" v-bind:class="classActiveModalWindow">
                    <div class="modal-header">
                        <span class="modal-title">{{textHeaderModal}}</span>
                    </div>

                    <div class="modal-body">
                        <input v-if="isActiveModalInput" type="text" v-model='nameUser'>
                        <div v-else>{{textGameVictory}}</div>
                    </div>

                    <div class="modal-footer">
                        <button @click="modalOpenClose('')">Ok</button>
                    </div>
                </div>
            </div>

        </template>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>
</body>

</html>
